* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: rgba(214, 93, 12, 0.856);
    color: aliceblue;
}

header h1,
section h2  {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}
header ,
section h2 {
    font-family: "Bungee", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

header nav li a {
    color: aliceblue;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: rgba(214, 93, 12, 0.856);
}

section p {
    margin-bottom: 8px;
}

section img {
    margin-right: 32px;
    width: auto;
    height: 450px;
    object-fit: cover;
}

footer {
    background-color: rgba(214, 93, 12, 0.856);
    color: aliceblue;
    padding: 16px 0;
}
